body, html {  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper {	
	max-width: 950px;
    margin-left: auto;
    margin-right: auto;
} 
/* MAKE A HEADPAGE , LOGO ETC ------------------------------------------------------------------------------*/
.wrapperHead   {
    text-align: center;
    padding: 15px 0px;

}
.headpage {
    display: inline-flex;
    justify-content: space-between;
    width: 950px;
    margin: 0px;
}

.lefthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lefthead a {
    text-decoration: none;
}
.lefthead2  {
    margin-left: 10px;
}
.righthead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.righthead1 {
    margin-right: 10px;
}
.head1 {
    font-size: 32pt;
    color: grey;
    font-weight: bold;
    margin: 0px;
}
.head2 {
    font-weight: bold;
    margin: 0px;
    color: #5a5a5a;
}
.head3  {
    font-size: 10pt;
    margin: 0px;
    color: #5a5a5a;
}
.head4  {
    font-weight: bold;
    color: #FD7E00;
    border: 14px solid #FFED4D;
    background-color: #FFED4D;
    font-size: 14pt;
    margin: 0px;
}
.head4:hover {
    opacity: 0.7;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------END OF HEADPAGE- */

/* MENU BAR ---------------------------------------------------------------------------------------------------------*/
.wrapperList    {
    text-align: center;
}
.table1  {
    width: 950px;
    border-collapse: collapse;
    position: relative;
}

.table1 p {
    font-weight: 1000;
    font-size: 10pt;
    margin: 0;
    color: #5a5a5a;
}
.row1 td {
    border: 1px solid #DDDDDD;
    border-bottom: none;
    border-top: none;
}
.row1 a {
    text-decoration: none;
}
.table1 td:last-child   {
    width: 340px;
}
.table2 td:last-child   {
    width: 340px;
}
.table2 td:first-child {
    width: 138px;    
}
.table2 td:nth-child(2) {
    width: 139px;
}
.table2 td:nth-child(3) {
    width: 157px;
}
.table2 {
    width: 950px;
    padding-top: 20px;
}
.table2 tbody {
    height: 0;
}
.row2 td {
    border-top: 3px solid #DDDDDD;
    margin: 0;
    padding: 0;
}
.table2 p {
    margin: 0;
    visibility: hidden;
}

table p:hover   {
    opacity: 0.5;
    cursor: pointer;
}
/* -----------------------------------------------------------------------------------END OF MENU BAR */



/* BANNER -------------------------------------------------------------------------------------------*/
.banner {
    background-image: url(../media/image/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}
.banner .wrapper {
    padding: 12%;
}
.banner p  {
    font-size: 25pt;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
/* ---------------------------------------------------------------------------------------END OF BANNER */

/* BORDER OF NEWS------------------------------------------------------------------------------------- */
.wrapperNews    {
    padding: 70px 0px;
}
.bigBorder    {
    border: 1px solid #DDDDDD;
    position: relative;
    height: 160px;
}
.bigNews    {
    align-items: center;
    width: 25%;
    text-align: center;
}
.bigNews p {
    margin: 0;
    font-weight: bold;
}

.bigNews #jap    {
    font-weight: bold;
    font-size: 15pt;
    color: #5a5a5a;
}
.bigNews #eng   {
    font-size: 8pt;
    color: #0E5B9A;
    margin: 7px 0px;
}
.bigNews p span {
    color: white;
    font-size: 8pt;
    border: 6px solid #0E5B9A;
    background-color: #0E5B9A;
}
.bigNews p span:hover {
    opacity: 0.5;
    cursor: pointer;
}
.smolBorder {
    border-left: 1px solid #DDDDDD;
    padding-left: 40px; 
    width: 75%;
}
.smolNews  p {
    margin: 0;
    font-size: 11pt;
    color: #0E5B9A;
}
.smolNews p span:hover {
    color: wheat;
    cursor: pointer;
}
.smolNews p span {
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: underline;
}
.bigBorder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------------------------------------------------------------------------------- END OF NEWS BORDER */

/* CONTENT ----------------------------------------------------------- */
/* 3 BOX ------------------- */
.content {
    padding: 0 0 70px 0;
    background-color: #EEEEEE;
}
.content1 {
    text-align: center;
    padding-top: 40px;
}
.content1 p {
    margin: 0;
    color: #5a5a5a;

}
.content1 p:first-child {
    font-weight: bold;
    font-size: 13pt;
}
.content1 p:last-child {
    font-weight: bold;
    color: #0E5B9A;
    font-size: 8pt;
}
.content2 {
    text-align: center;
    margin-top: 30px;
}
.content2 p {  
    color: grey;
    margin: 0;
    font-size: 11pt;
}
/* 3 BOXS------------------------------------ */

.content3 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.box1 {
    position: relative;
    display: inline-block;
}
#boxhover-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.box1:hover #boxhover-1 {
    display: inline;
    cursor: pointer;
}
/* BOX-2 */
.box2 {
    position: relative;
    display: inline-block;
}
#boxhover-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.box2:hover #boxhover-2 {
    display: inline;
    cursor: pointer;
}
/* BOX-3 */
.box3 {
    position: relative;
    display: inline-block;
}
#boxhover-3 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.box3:hover #boxhover-3 {
    display: inline;
    cursor: pointer;
}
/* ---------------END OF 3 BOX */
/* --------------------------------------------------------------------------------------------END OF CONTENT  */

/*  */
.alsok .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alsok h2 {
    color: #5a5a5a;

}
.stocker {
    position: relative;
    margin-left: -100px;
}
#stock1 {
    position: relative;
    top: 3px;
}
.introduce {
    margin-left: 118px;
}
.stocker #stock2 {
    position: absolute;
    top: 49%;
    left: 80%;
}
.introduce p {
    color: grey;
    font-size: 15pt;
    line-height: 25px;
    margin: 10px 0px 30px 0px;
}
.introduce img:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* ------------------------------ */
.bluebg {
    background-image: url(../media/image/bluebackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    position: relative;
}
.bluebg .wrapper {
    padding: 3%;
    text-align: center;
}
.inside {
    padding-top: 15px;
}
#p1{
    font-size: 19pt;
    margin: 0;
    color: white;
    border: 1px solid white;
    display: inline;
    padding: 10px 30px;
}
#p2 {
    font-size: 11pt;
    color: white;
}
#p2 span {
    color: #FFFF4C;
}
#p3 {
    color: white;
    font-size: 29pt;
    margin: 0;
    line-height: 5px;
    font-weight: bold;
}
#p3 span {
    font-size: 11pt;
    font-weight: normal;
}
.botP:last-child {
}
#p4 {
    color: white;
    font-size: 12pt;
}
.topP {
    margin: 5px;
}
.botP {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 100px 30px 100px;
}
.pagetop {
    position: absolute;
    right: 15%;
    bottom: 15%;
}

.pagetop img:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* QUICK LINK SECTION------------------------------- */

.quicklink {
    background-color: #CCCCCC;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.quicklink p {
    margin: 0;
    font-size: 10pt;
    color: grey;
    font-weight:    bold;
}
.quicklink p span:hover {
    color: wheat;
    cursor: pointer;
}
.quicklink p span a {
    text-decoration: none;
    color: grey;
}
/* -------------------------------------------------------END OF QUICKLINK */

/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
}
footer p {
    font-size: 10pt;
    color: grey;
}